# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Javascript
node_modules/
dist/
build/
.DS_Store

# Project Specific
.organizer_rules.json
.duplicates_backup/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo
